__pycache__/
*.py[cod]

bin/
eggs/
develop-eggs/
detectoid.egg-info/

.installed.cfg
.coverage
coverage.xml
nosetests.xml
buildout.cfg

docs/Makefile
docs/make.bat
docs/html/
docs/doctrees/

pyramid.ini
*.db
